{% extends 'base1/base.html' %}
{% load static %}

{% block content %}

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<p class="subtitle" style="font-family:yekan">مکانیکی & برقی</p>
							<h1 style="font-family:yekan">کارنوکس</h1>
							<div class="hero-btns">
								<a href="shop.html" class="boxed-btn" style="font-family:vazir">شروع خرید</a>
								<a href="contact.html" class="bordered-btn" style="font-family:vazir">ارتباط با ما</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center" style="float:right">
						<div class="content">
							<h3 style="font-family:yekan;text-align:right">ارسال رایگان</h3>
							<p style="font-family:vazir">برای خرید های بالای 150 هزارتومان</p>
						</div>
						<div class="list-icon" style="margin-left:20px">
							<i class="fas fa-shipping-fast"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center" style="float:right">
						<div class="content">
							<h3 style="font-family:yekan;text-align:right">پشتیبانی 24 ساعته</h3>
							<p style="font-family:vazir;text-align:right">پشتیبانی همه ساعته</p>
						</div>
						<div class="list-icon" style="margin-left:20px">
							<i class="fas fa-phone-volume"></i>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center" style="float:right">
						<div class="content">
							<h3 style="font-family:yekan;text-align:right">بازشگت کالا</h3>
							<p style="font-family:vazir">برگشت مبلغ تا 3 روز</p>
						</div>
						<div class="list-icon" style="margin-left:20px">
							<i class="fas fa-sync"></i>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3 style="font-family:vazir"> دسته بندی ها</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
					</div>
				</div>
			</div>

			<div class="row">
				{% for category in all_categories %}
				<div class="col-lg-3 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="{{category.photo.url}}" alt=""></a>
						</div>
						<h3 style="font-family:yekan">{{category.name}}</h3>
						{% comment %} <p class="product-price"><span>Per Kg</span> 85$ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a> {% endcomment %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- end product section -->

	<div class="row">
		<div class="col-lg-8 offset-lg-2 text-center">
			<div class="section-title">	
				<h3 style="font-family:vazir">محصولات</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
			</div>
		</div>
	</div>

	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						{%for product in product_list1%}
							<div class="single-logo-item">
								<div class="col-lg-6 col-md-6 offset-md-3 offset-lg-0 text-center" style="max-width:100%">
									<div class="single-product-item">
										<div class="product-image">
											<a href="{% url 'single-product' product.slug %}"><img src="{{product.photo_1.url}}" alt=""></a>
										</div>
										<h3>{{product.name}}</h3>
										<del class="product-price">{{product.price}}</del>
										<p class="product-price">{{product.last_price}}</p>
										<form method="POST" action="{% url 'home' %}">
											{% csrf_token %}
											<button class="button-24" type="submit"  style="font-family: yekan;font-size: 16px" name="action"  value={{product.slug}}>
												<i class="fas fa-shopping-cart"></i>
													اضافه به سبد خرید
											</button>
										</form>
									</div>
								</div>
							</div>
						{%endfor%}
					</div>
				</div>
			</div>
		</div>
	</div>

<br>
<br>
	
	<div class="row">
		<div class="col-lg-8 offset-lg-2 text-center">
			<div class="section-title">	
				<h3 style="font-family:vazir">محصولات</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
			</div>
		</div>
	</div>

	<div class="logo-carousel-section" style="background-color:white">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="logo-carousel-inner">
							{%for product in product_list2%}
								<div class="single-logo-item">
									<div class="col-lg-6 col-md-6 offset-md-3 offset-lg-0 text-center" style="max-width:100%">
										<div class="single-product-item">
											<div class="product-image">
												<a href="{% url 'single-product' product.slug %}"><img src="{{product.photo_1.url}}" alt=""></a>
											</div>
											<h3>{{product.name}}</h3>
											<del class="product-price">{{product.price}}</del>
											<p class="product-price">{{product.last_price}}</p>
											<form method="POST" action="{% url 'home' %}">
												{% csrf_token %}
												<button class="button-24" type="submit"  style="font-family: yekan;font-size: 16px" name="action"  value={{product.slug}}>
													<i class="fas fa-shopping-cart"></i>
														اضافه به سبد خرید
												</button>	
											</form>
										</div>
									</div>
								</div>
							{%endfor%}
						</div>
					</div>
				</div>
			</div>
		</div>
	
	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    	<div class="container">
        	<div class="row clearfix">
            	<!--Image Column-->
            	<div class="image-column col-lg-6">
                	<div class="image">
                    	<div class="price-box">
                        	<div class="inner-price">
                                <span class="price" style="font-family:vazir">
                                    <strong >30%</strong> <br> تخفیف
                                </span>
                            </div>
                        </div>
                    	<img src="static/img/a.jpg" alt="">
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-lg-6">
					<h3 style="font-family:vazir;text-align:right"><span class="orange-text" >حراج</span> این هفته </h3>
                    <h4>Hikan Strwaberry</h4>
                    <div class="text">Quisquam minus maiores repudiandae nobis, minima saepe id, fugit ullam similique! Beatae, minima quisquam molestias facere ea. Perspiciatis unde omnis iste natus error sit voluptatem accusant</div>
                    <!--Countdown Timer-->
                    <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                	<a href="cart.html" class="cart-btn mt-3" style="font-family:yekan"><i class="fas fa-shopping-cart"></i>اضافه به سبد خرید</a>
                </div>
            </div>
        </div>
    </section>
    <!-- end cart banner section -->
	
<br>
<br>

	<div class="row">
		<div class="col-lg-8 offset-lg-2 text-center">
			<div class="section-title">	
				<h3 style="font-family:vazir">محصولات</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
			</div>
		</div>
	</div>

	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						{%for product in product_list3%}
							<div class="single-logo-item">
								<div class="col-lg-6 col-md-6 offset-md-3 offset-lg-0 text-center" style="max-width:100%">
									<div class="single-product-item">
										<div class="product-image">
											<a href="{% url 'single-product' product.slug %}"><img src="{{product.photo_1.url}}" alt=""></a>
										</div>
										<h3>{{product.name}}</h3>
										<del class="product-price">{{product.price}}</del>
										<p class="product-price">{{product.last_price}}</p>
										<form method="POST" action="{% url 'home' %}">
											{% csrf_token %}
											<button class="button-24" type="submit"  style="font-family: yekan;font-size: 16px" name="action"  value={{product.slug}}>
												<i class="fas fa-shopping-cart"></i>
													اضافه به سبد خرید
											</button>	
										</form>							
									</div>
								</div>
							</div>
						{%endfor%}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="static/img/avaters/avatar1.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Saira Hakim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="static/img/avaters/avatar2.png" alt="">
							</div>
							<div class="client-meta">
								<h3>David Niph <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="static/img/avaters/avatar3.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Jacob Sikim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Sed ut perspiciatis unde omnis iste natus error veritatis et  quasi architecto beatae vitae dict eaque ipsa quae ab illo inventore Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Since Year 1999</p>
						<h2 style="font-family:yekan;text-align:right">ما<span class="orange-text"> کارنوکس </span> هستیم</h2>
						<p>Etiam vulputate ut augue vel sodales. In sollicitudin neque et massa porttitor vestibulum ac vel nisi. Vestibulum placerat eget dolor sit amet posuere. In ut dolor aliquet, aliquet sapien sed, interdum velit. Nam eu molestie lorem.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente facilis illo repellat veritatis minus, et labore minima mollitia qui ducimus.</p>
						<a href="about.html" class="boxed-btn mt-4" style="font-family:yekan">بیشتر</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->
	
	<!-- shop banner -->
	<section class="shop-banner">
    	<div class="container">
        	<h3 style="font-family:vazir;">تخفیفات <br> بزرگ و <span class="orange-text">فوق العاده</span></h3>
            <div class="sale-percent" style="font-family:vazir;"><span>تخفیف</span>50% <span>بیش از</span></div>
            <a href="shop.html" class="cart-btn btn-lg" style="font-family:yekan;">خرید</a>
        </div>
    </section>
	<!-- end shop banner -->
<br>
	<div class="row">
		<div class="col-lg-8 offset-lg-2 text-center">
			<div class="section-title">	
				<h3 style="font-family:vazir">محصولات</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet beatae optio.</p>
			</div>
		</div>
	</div>

	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						{%for product in product_list4%}
							<div class="single-logo-item">
								<div class="col-lg-6 col-md-6 offset-md-3 offset-lg-0 text-center" style="max-width:100%">
									<div class="single-product-item">
										<div class="product-image">
											<a href="{% url 'single-product' product.slug %}"><img src="{{product.photo_1.url}}" alt=""></a>
										</div>
										<h3>{{product.name}}</h3>
										<del class="product-price">{{product.price}}</del>
										<p class="product-price">{{product.last_price}}</p>
										<form method="POST" action="{% url 'home' %}">
											{% csrf_token %}
											<button class="button-24" type="submit"  style="font-family: yekan;font-size: 16px" name="action"  value={{product.slug}}>
												<i class="fas fa-shopping-cart"></i>
													اضافه به سبد خرید
											</button>	
										</form>							
									</div>
								</div>
							</div>
						{%endfor%}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="static/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="static/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="static/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="static/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="static/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
{% endblock %}

