{% extends "base1/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p style="font-family:yekan">کارنوکس</p>
						<h1 style="font-family:yekan">تسویه حساب</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button style="font-family:yekan;text-align:right" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						          اطلاعات ارسال
						        </button>
						      </h5>
						    </div>
							<form method="POST" style="direction: rtl;font-family:vazir">
								{% csrf_token %}
								<br>
								<br>
								<div class="form-group" style="text-align: right">
							  <label style="font-family: vazir;margin-left: 20px;text-align: right">
										نام
									</label>
								   {{ form.name }}
						
								</div>
						
								<div class="form-group" style="text-align: right">
									<label style="font-family: vazir;margin-left: 20px">
										نام خانوادگی
									</label>
										{{ form.family_name }}
						
								</div>
										<div class="form-group" style="text-align: right">
									<label style="font-family: vazir;margin-left: 20px">
										آدرس
									</label>
										{{ form.address }}
						
								</div>
										<div class="form-group" style="text-align: right">
									<label style="font-family: vazir;margin-left: 20px">
										کد پستی
									</label>
										{{ form.postal_code }}
						
								</div>
										<div class="form-group" style="text-align: right">
									<label style="font-family: vazir;margin-left: 20px">
										شماره تلفن
									</label>
										{{ form.phone }}
						
								</div>
								    <button class="button-24" role="button" style="font-family: yekan;height: 30px;
										padding-top: 0px;
										padding-bottom: 0px;">
										پرداخت
										<i class="fa-solid fa-arrow-right-to-bracket"></i>
									</button>
							</form>
								
						    {% comment %} <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form action="index.html">
						        		<p><input type="text" placeholder="Name"></p>
						        		<p><input type="email" placeholder="Email"></p>
						        		<p><input type="text" placeholder="Address"></p>
						        		<p><input type="tel" placeholder="Phone"></p>
						        		<p><textarea name="bill" id="bill" cols="30" rows="10" placeholder="Say Something"></textarea></p>
						        	</form>
						        </div>
						      </div>
						    </div> {% endcomment %}
							
						  </div>
						  {% comment %} <div class="card single-accordion">
						    <div class="card-header" id="headingTwo">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						          Shipping Address
						        </button>
						      </h5>
						    </div>
						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="shipping-address-form">
						        	<p>Your shipping address form is here.</p>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						          Card Details
						        </button>
						      </h5>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details">
						        	<p>Your card details goes here.</p>
						        </div>
						      </div>
						    </div>
						  </div> {% endcomment %}
						</div>

					</div>
				</div>

				{% comment %} <div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead style="font-family:yekan">
								<tr>
									<th>قیمت</th>
									<th>جزییات خرید</th>
								</tr>
							</thead>
							<tbody class="order-details-body" style="text-align:right;font-family:yekan">
								{% for order in order_list %}
								<tr>
									<td>{{order.product.last_price}} تومان</td>
									<td>{{order.product.name}}</td>	
								</tr>
								{% endfor %}
							</tbody>
						</table>
						{% comment %} <a href="#" class="boxed-btn">Place Order</a> {% endcomment %}
					{% comment %} </div>
				</div> {% endcomment %} 
			</div>
		</div>
	</div>
	<!-- end check out section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

{% endblock %}
